/*重置样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-border: border-color;
  -moz-box-sizing: border-box;
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

hr {
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-color: var(--color-gray-200);
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, video {
  vertical-align: middle;
  outline: none;
  border: 0;
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", "Open Sans", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #333;
  background: #fff;
}

input, button, textarea, select {
  outline: none;
  font-family: inherit;
  border: none;
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

iframe {
  border: none;
  vertical-align: top;
}

:before, :after {
  box-sizing: border-box;
}

em {
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

html {
  font-size: clamp(16px, 1vw, 100px);
}

::-webkit-scrollbar { width: 6px; /* 垂直滚动条宽度 */ height: 6px; /* 水平滚动条高度 */ }
::-webkit-scrollbar-track { background: #f1f1f1; /* 滚动条轨道颜色 */ border-radius: 4px; }
::-webkit-scrollbar-thumb { background: #999; /* 滚动条滑块颜色 */  border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; /* 滚动条滑块悬停颜色 */ }

/* flex */
.acea-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.acea-row.nowrap {
  flex-wrap: nowrap;
}

.acea-row.inline {
  display: inline-flex;
}

.acea-row.row-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.acea-row.row-top {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.acea-row.row-bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}

.acea-row.row-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.acea-row.row-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.acea-row.row-left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start
}

.acea-row.row-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.acea-row.row-around {
  justify-content: space-around;
  -webkit-justify-content: space-around
}

.acea-row.row-evenly {
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly
}

.acea-row.row-column-around {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around
}

.acea-row.row-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.acea-row.row-column-between {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.acea-row.row-center-wrapper {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.acea-row.row-between-wrapper {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.flex-1 { flex: 1; }

.pc {
  display: block !important;
}

.app {
  display: none !important;
}

@media (max-width: 768px) {
  .app {
    display: block !important;
  }

  .pc {
    display: none !important;
  }
  html { scrollbar-width: none; /* Firefox */  -ms-overflow-style: none; /* IE/Edge */ }
  html::-webkit-scrollbar { display: none; /* Chrome/Safari */ }
}
