/* 强制覆盖 vanilla-cookieconsent 在移动端的竖排按钮 */
@media screen and (max-width: 640px) {
  #cc-main .cm__btns .cm__btn-group {
    opacity: 1;
    display: flex !important;
    flex-direction: row !important; /* 关键：恢复横排 */
    min-width: 100% !important;
    gap: 8px; /* 可调 */
  }

  #cc-main .cm__btns .cm__btn {
    opacity: 1;
    flex: 1 1 auto !important;        /* 让两个按钮保持等宽，可移除 */
    white-space: nowrap;   /* 按钮文字不换行 */
  }

  #cc-main .cm__btn-group .cm__btn+.cm__btn {
    margin: 0 !important;
  }
}