@font-face {
  font-family: "iconfont"; /* Project id 4853487 */
  src: url('//at.alicdn.com/t/c/font_4853487_5a7a1h588ia.woff2?t=1758506472929') format('woff2'),
  url('//at.alicdn.com/t/c/font_4853487_5a7a1h588ia.woff?t=1758506472929') format('woff'),
  url('//at.alicdn.com/t/c/font_4853487_5a7a1h588ia.ttf?t=1758506472929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e6fd";
}

.icon-cut:before {
  content: "\e873";
}

.icon-zoom-in:before {
  content: "\e874";
}

.icon-album:before {
  content: "\e68e";
}

.icon-upload-pictures:before {
  content: "\e68d";
}

.icon-color-palette:before {
  content: "\e68c";
}

.icon-magic-pen:before {
  content: "\e68b";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-minus-circle:before {
  content: "\e677";
}

.icon-Youtube:before {
  content: "\e880";
}

.icon-rengongkefu:before {
  content: "\e87c";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-close:before {
  content: "\e83e";
}

.icon-editor-left-alignment:before {
  content: "\e86f";
}

.icon-editor-right-alignment:before {
  content: "\e832";
}

.icon-tuite:before {
  content: "\e79c";
}

.icon-change:before {
  content: "\e88c";
}

.icon-suofang:before {
  content: "\e662";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-location-fill:before {
  content: "\e861";
}

.icon-pictures:before {
  content: "\e867";
}

.icon-user-defined:before {
  content: "\e871";
}

.icon-checkbox:before {
  content: "\e61c";
}

.icon-checkbox-fill:before {
  content: "\e600";
}

.icon-error:before {
  content: "\e868";
}

.icon-error-fill:before {
  content: "\e86c";
}

.icon-shopping:before {
  content: "\e86a";
}

.icon-phone:before {
  content: "\e860";
}

.icon-camera-switching:before {
  content: "\e85b";
}

.icon-edit:before {
  content: "\e85a";
}

.icon-goods:before {
  content: "\e82c";
}

.icon-money-wallet:before {
  content: "\e838";
}

.icon-location:before {
  content: "\e855";
}

.icon-notice:before {
  content: "\e854";
}

.icon-settings:before {
  content: "\e859";
}

.icon-delete:before {
  content: "\e85c";
}

.icon-right-arrow:before {
  content: "\e844";
}

.icon-add:before {
  content: "\e835";
}

.icon-reduce:before {
  content: "\e846";
}

.icon-info-fill:before {
  content: "\e84f";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-move:before {
  content: "\e83f";
}

.icon-favorites-fill:before {
  content: "\e839";
}

.icon-favorites:before {
  content: "\e847";
}

.icon-follow-fill:before {
  content: "\e83c";
}

.icon-check-fill:before {
  content: "\e842";
}

.icon-check:before {
  content: "\e843";
}

.icon-down:before {
  content: "\e83a";
}

.icon-left:before {
  content: "\e83d";
}

.icon-up:before {
  content: "\e845";
}

.icon-right:before {
  content: "\e841";
}

.icon-search:before {
  content: "\e840";
}

.icon-shopping-bag:before {
  content: "\e826";
}

.icon-login:before {
  content: "\e829";
}

.icon-customer:before {
  content: "\e82a";
}

.icon-follow:before {
  content: "\e83b";
}
