:root {
  /* 间距系统 */
  --gutter-base: 15px;
  --gutter-xs: 6px;
  --gutter-sm: 10px;
  --gutter-md: 40px;
  --gutter-lg: 50px;
  --gutter-xl: 60px;

  /* 响应式断点 */
  --breakpoint-xs: 414px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1260px;
  --breakpoint-xl: 1460px;
  --breakpoint-2xl: 1680px;

  /* 颜色系统 */
  --color-primary: #000000;
  --color-secondary: #34AFFF;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #e00033;
  --color-gray-100: #FAFAFA;
  --color-gray-200: #E6E6E6;
  --color-gray-300: #CCCCCC;
  --color-gray-400: #B3B3B3;
  --color-gray-500: #999999;
  --color-gray-600: #808080;
  --color-gray-700: #000000;
  --color-text-primary: var(--color-gray-700); // 文字色
  --color-text-secondary: var(--color-gray-600); // 辅助文字色
  --color-bg-primary: #ffffff;  // 背景色
  --color-bg-secondary: var(--color-gray-100); // 辅助背景色

  /* 边框颜色*/
  --border-color: var(--color-gray-300);
}